<!doctype HTML>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Fix and prevent known vulnerabilities in Node.js and Ruby apps | Snyk</title>
  <meta name="description" content="Fix known vulnerabilities in your Node.js and Ruby apps: apply upgrades and security patches, prevent adding vulnerable dependencies, and get alerted about new security issues.">

  <link rel="stylesheet" href="https://snyk.io/style/build/all.min.css" />

  <!--[if lt IE 9]>
  <script src="/script/vendor/html5shiv/html5shiv.min.js"></script>
  <![endif]-->

  <!-- Favicons -->
  <link rel="icon" type="image/png" href="https://res.cloudinary.com/snyk/image/upload/v1468845142/favicon/favicon.png" sizes="194x194">
  <link rel="icon" type="image/png" href="https://res.cloudinary.com/snyk/image/upload/v1468845142/favicon/android-chrome.png" sizes="192x192">
  <link rel="apple-touch-icon" href="https://res.cloudinary.com/snyk/image/upload/v1468845142/favicon/apple-touch-icon.png" sizes="180x180">
  <link rel="shortcut icon" href="https://res.cloudinary.com/snyk/image/upload/v1468845142/favicon/favicon.ico">
  <link rel="mask-icon" href="https://res.cloudinary.com/snyk/image/upload/v1468845142/favicon/safari-pinned-tab.svg">
  <link rel="alternate" type="application/rss+xml" href="/blog/feed.xml" title="Snyk Blog">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="https://res.cloudinary.com/snyk/image/upload/v1468845142/favicon/mstile.png">
  <meta name="theme-color" content="#333152">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:image" property="og:image" content="https://res.cloudinary.com/snyk/image/upload/v1468845142/logo/snyk-avatar.png">
  <meta name="twitter:site" content="@snyksec">
  <meta name="twitter:title" property="og:title" content="Snyk - Fix and prevent known vulnerabilities in Node.js and Ruby apps">
  <meta name="twitter:description" property="og:description" content="Fix known vulnerabilities in your Node.js and Ruby apps: apply upgrades and security patches, prevent adding vulnerable dependencies, and get alerted about new security issues.">

  <style>
    .status--draft {
      position: relative;
      padding: 2px 7px;
      background-color: #F1F1F1;
    }
    .status--draft:after {
      content: "DRAFT";
      border: 2px solid #fff;
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #939393;
      color: #fff;
      font-size: 0.8em;
      padding: 1px 5px;
      font-size: 10px;
      line-height: 1.2em;
    }
  </style>

</head>
